<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/858e563b35.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Girassol&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg px-5">
        <a class="navbar-brand" href="#"> &#9996; LOGGER </a>
        <ul class="nav w-100 pl-3">
            <li class="nav-item">
                <a class="nav-link active p-3" href="/">Home</a>
            </li>
            <li class="nav-item mr-auto">
                <a class="nav-link p-3" href="/article">Create Post</a>
            </li>

            <%  if(!currentUser){ %>
            <li class="nav-item ">
                <a class="nav-link p-3" href="/register"><i class="fas fa-user-plus mr-2"></i>Register</a>
            </li>
            <li class="nav-item end ">
                <a class="nav-link  p-3" href="/login"><i class="fas fa-sign-in-alt mr-2"></i>Login</a>
            </li>
            <%    }else{ %>
            <li class="nav-item end ">
                <a class="nav-link  p-3" href="/logout"><i class="fas fa-sign-in-alt mr-2"></i>Logout</a>
            </li>
            <%}%>
           
           
        </ul>
    </nav>
    <div class="container mt-3 ">