<%- include ("./partials/header") -%>


<h1 class="text-center">Posts</h1>
<div class="media-container">
    <div class="media mx-auto">
        <img src="..." class="mr-3" alt="...">
        <div class="media-body">
            <h5 class="mt-0">Media heading</h5>
            <p> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
                purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
            <a href="#" class="btn btn-outline-primary"> Read more</a>
        </div>

    </div>

</div>


<%- include ("./partials/footer") -%>