<%- include("partials/header") -%>
<div class="jumbotron">
    <h1 class="display-4 text-center"> Login</h1>
    <form class="w-50 mx-auto" action="/login" method="POST">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" id="username" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" id="password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div class="or text-center">
        <h3>OR</h3>
    </div>
    <div class="google w-50 m-auto d-flex ">
        <a href="/auth/google" class="btn btn-danger"><i class="fab fa-google mr-4"></i>Login with Google+</a>
        <a href="/auth/facebook" class="btn facebook"><i class="fab fa-facebook mr-4"></i>Login with Facebook</a>

    </div>

</div>
<%- include("partials/footer") -%>