<%- include("partials/header") -%>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0&appId=882593465535350&autoLogAppEvents=1"></script>
<div class="jumbotron">
    <h1 class="display-4 text-center"> Register</h1>
    <form class="w-50 mx-auto mb-3" action="/register" method="POST">
        <div class="form-group">
            <label for="Username">Username</label>
            <input type="text" name="username" class="form-control" id="username" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" id="password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div class="or text-center">
        <h3>OR</h3>
    </div>



</div>
<%- include("partials/footer") -%>